<!--@subject Order Placed Successfully! @-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
  <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
    <tr>
      <td align="center" valign="top">
          <!-- [ middle starts here] -->
          <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
              <td valign="top">
                <p>
                <strong>Dear {{var customername}}</strong>,<br/>
                Please <a href="{{var customorderurl}}">click here</a> to view the order information.
                </p>
              </td>
            </tr>
          </table>
      </td>
    </tr>
  </table>
</div>